@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  scroll-behavior: smooth;
}

.theme-light {
  --black: #000000;
  --white: #ffffff;
  --primary: #ffffff;
  --secondary: #f7fafc;
  --third: #edf2f7;
  --fourth: #e2e8f0;
  --fifth: #cbd5e0;
  --text-main: #000000;
  --text-secondary: #1a202c;
  --text-third: #2d3748;
  --green-400: #68d391;
  --green-500: #48bb78;
  --green-900: #22543d;
}
.theme-dark {
  --black: #000000;
  --white: #ffffff;
  --primary: #000000;
  --secondary: #090b0c;
  --third: #1a202c;
  --fourth: #2d3748;
  --fifth: #4a5568;
  --text-main: #ffffff;
  --text-secondary: #f7fafc;
  --text-third: #edf2f7;
  --green-400: #68d391;
  --green-500: #48bb78;
  --green-900: #22543d;
}
